/* For index.html */
.index-body {
    background-image: url('../images/clouds_france_vines.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.index-body h1 {
    color: white;
    /* Any other styles you want to apply to the h1 on the index page */
}

/* For upload.html */
.upload-body {
    background-image: url('../images/upload_bkg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* For login.html */
.login-body {
    background-image: url('../images/backdrop_med.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.upload-body h1 {
    color: #00FF00; /* This is a bright green color in hex */
}
.button-like-link {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button-like-link:hover {background-color: #3e8e41}

.button-like-link:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.index-body, .upload-body, .login-body {
    min-height: 100vh; /* vh is the viewport height */
    /* Your existing styles */
}
.index-body, .upload-body, .login-body {
    background-attachment: fixed;
    /* Your existing styles */
}