<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
    
<body class="index-body">

<h1>Welcome to the Calendar Sync Application</h1>
<!--<div class="centered-container"> -->
<div class=" form-box ">
    <a href="{{ url_for('upload_calendar') }}"><button>Go to Calendar Upload</button></a>
        <br><br>
        {% if current_user.is_admin %}
            <form action="{{ url_for('admin_page') }}" method="GET">
                <button type="submit">Admin Dashboard</button>
            </form>
        {% endif %}
    
</div>
</body>
</html>
