<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mind Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="admin-body">
    <h1>Mind Dashboard</h1>
    <h2>User List</h2>
  

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="admin-body">
    <h1>Admin Dashboard</h1>
 
<script type="text/javascript">
    window.MindStudioSettings = {
        publicToken: "pk34448f2be4e00f68f457c22617bd8dcd",
        appId: "05874ce0-1355-40d1-883c-bc238f706ffe"
        };
</script>
<script src="https://api.youai.ai/v1/embed.js"></script>
<iframe id="mindstudio-frame" referrerpolicy="origin" style="width:900px;height:600px;border:1px solid rgba(0,0,0,0.1);border-radius:8px;outline:none;" title="AI Embed" frameborder="0"></iframe>


<!-- Inside admin.html -->
<a href="{{ url_for('index') }}" class="button-like-link">Return to Home Page</a>
 <!-- Add this button for logout and clsoe session -->
 <button id="logout_button" onclick="window.location.href='{{ url_for('logout') }}'" class="button-like-link">LOGOUT</button>
    
</body>
</html>

<!-- Inside admin.html -->
<a href="{{ url_for('index') }}" class="button-like-link">Return to Home Page</a>
 <!-- Add this button for logout and clsoe session -->
 <button id="logout_button" onclick="window.location.href='{{ url_for('logout') }}'" class="button-like-link">LOGOUT</button>
    
</body>
</html>
