<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mind Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="admin-body">
    <h1>Mind Dashboard</h1>
    <h2>User List</h2>
  

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="admin-body">
    <h1>Admin Dashboard</h1>
 
<script type="text/javascript">
    window.MindStudioSettings = {
        publicToken: "pkf955bd030e1d77fafe317ccba87843cd",
        appId: "3245402d-5b41-41bf-96c7-516800632969"
        };
</script>
<script src="https://api.youai.ai/v1/embed.js"></script>
<iframe id="mindstudio-frame" referrerpolicy="origin" style="width:90vw;height:800px;border:1px solid rgba(255,0,0,0.1);border-radius:8px;outline:none;" title="AI Embed" frameborder="0"></iframe>

<br><br>
<!-- Inside admin.html -->
<a href="{{ url_for('index') }}" class="button-like-link">Return to Home Page</a>
 <!-- Add this button for logout and clsoe session -->
 <button id="logout_button" onclick="window.location.href='{{ url_for('logout') }}'" class="button-like-link">LOGOUT</button>
    
</body>
</html>
